:root {
    --background: #F2FFE9;
    --color-accent: #ff9776;
    --color1: #A6CF98;
    --color-title: #395339;
    --color-all: grey;
   
    --font-title: Genos, sans-serif;
    --font-all: Nunito, sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  h1 {
    margin: 1rem 0;
    font-size: 2.2rem;
    color: var(--color-title);
    font-family: var(--font-title);
  }
