---
import BaseLayout from "../layouts/BaseLayout.astro";
import TitleBanner from "../components/TitleBanner.astro";
const pageTitle = "Contact";
---

<BaseLayout>
  <TitleBanner />
  <h2>{pageTitle}</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
    parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
  </p>
</BaseLayout>
