---
import PagesLayout from "../layouts/PagesLayout.astro";
const pageTitle = "Counselling";
---

<PagesLayout>
  <h1>{pageTitle}</h1>

  <p>It is not easy being a human being.</p><p>
    We are made in such a way that we are sensitive to what's going on around
    us. All the time our senses register changes. The information is being
    processed continuously and we are continuously reacting to it. Our nervous
    system and our brain is continually making its best guess as to how to keep
    us safe. We are a delicate, finely balanced, super-fast mechanism. This has
    many consequences.
  </p>
  <p>
    One consequence is that we survived and evolved when many other species have
    not. Another is that we have rich ways of interacting with the world.
    Another is that our heart, mind and emotions are in a continual state of
    flux. Even when things are going well there are always adjustments going on.
    It is hard to find a resting place from the continual bombardment of
    information and our own reaction to it.
  </p>
  <p>
    While there is no way to press pause on this, our nervous systems are
    amazingly responsive and adaptable. Counselling will help you find ways of
    working with your natural mechanisms of regulation, rather than against
    them.
  </p>
  <p>The world looks totally different to each one of us.</p>
  <p>Self care</p>
  <p>
    Modern life is a step away from the evolutionary context we evolved for.
    There is a mismatch between the way our nervous systems regulate our our
    current context. So we need to make a conscious effort to look after
    ourselves: it's not going to happen by itself. The choices we make about how
    to spend our time, what we look at, what we fill our heads with, have
    consequences for our health and happiness.
  </p><p>
    We are making these choices all the time. Counselling will help you find the
    choices that lead to health and happiness for yourself and others.
  </p>
  <p>Healing</p>
  <p>
    Injury is a fact of life. Our evolution has gifted us the most amazing array
    of healing mechanisms. Healing can be instantaneous or it can take a very
    long time. Healing itself can be painful. While mechanisms of healing have
    been instinctively known for milennia, modern research is bring this
    knowledge into the realm of language. We can name, describe and understand
    these mechanisms in ways we couldn't before. We can talk about them and
    teach them but every person has a different experience of these things.
    Counselling will guide your exploration of the way these mechanisms show up
    in your own body, heart and mind.
  </p>
  <p>Thriving</p>
  <p>Thriving message</p>
  <p>How counselling can help you thrive.</p>
  <p>FAQ</p>
  <p>How to chose a counsellor?</p>
  <p>How many sessions?</p>
</PagesLayout>
