---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Picture } from "astro-imagetools/components";
const pageTitle = "Counselling";
---

<BaseLayout>
  <Picture
    src="/src/images/desert-rocks/neom-Xm1wdkNUwrY-unsplash.jpg"
    alt="A person looking at a desert landscape"
  />
  <h2>{pageTitle}</h2>
  <p>{new Date().getFullYear()}</p>
  <p>The only way to know what counselling is like is to try it.</p>

  <p>Arrange a free no-obligation phone call.</p>

  <p>
    If you haven't used counselling before, here's what's likely to be happening
    -
  </p>
  <ul>
    <li>
      You'll say as much or as little as you feel comfortable with. You need to
      know you can trust me before some things can be said.
    </li>
    <li>
      You'll be talking to someone who is listening calmly, without judging. The
      benefits of counselling will start right there.
    </li>
    <li>
      You'll explain a bit about your situation. You'll probably come up with a
      fresh take on it.
    </li>
    <li>
      I'll ask for some background so I can understand what you've already
      tried.
    </li>
    <li>
      From the outset I'll be showing you how to calm your nervous system.
      You'll feel calmer straight away and I'll give you excercises to practice
      in your own time.
    </li>
    <li>
      When you are ready you may want to talk about upsetting things. Before we
      do much of that I'll make sure you have some skill at self-regulation so
      you can get back to a calm, safe state.
    </li>
    <li>
      As we talk we will be figuring out what is working well, both in your life
      and in the way you think about your issues.
    </li>
    <li>
      I won't be giving advice. You'll come up with ways forward that are your
      own.
    </li>
  </ul>

  Here's some things I'll be doing -
</BaseLayout>
