---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Counselling";
---

<BaseLayout>
  <h2>{pageTitle}</h2>
  <p>
    In counselling sessions no one talks about their lives the way you talk
    about yours. Everyone's counselling is different. You may find it hard or
    easy to talk. I will listen and ask questions to help you talk about your
    life in your own way. You will end up saying things you've never thought
    before. I will make sure we both notice what you say. Counselling is a joint
    exploration so we build understandings together. I will make suggestions for
    ideas or behaviours that you may like to try on for size. Using these
    understandings you will have options for new courses of action.
  </p>
  <p>
    I will be listening, accepting your perspectives and asking questions. I
    will not judge you or tell you where you are 'going wrong'. Our focus will
    be on your life and the issues you want to bring. Because you are accepted,
    you can take your time. You may not want to reveal everything in the first
    few sessions. As your trust grows that you are safe you can gradually say
    more of the things you have been wondering about. You will no longer be the
    only one trying to find a way forward. Your counselling will turn out
    different to any other.
  </p>
  <p>
    I know what kind of questions can help in different situations, but being an
    experienced counsellor doesn't mean I can't look inside you and see what's
    going on. We will be in a joint exploration where we help each other to
    understand your issues in new ways.
  </p>
  <p>I will ask questions: as you answer we will come to new understandings.</p>
  <p>It is not easy being a human being.</p><p>
    We are made in such a way that we are sensitive to what's going on around
    us. All the time our senses register changes. The information is being
    processed continuously and we are continuously reacting to it. Our nervous
    system and our brain is continually making its best guess as to how to keep
    us safe. We are a delicate, finely balanced, super-fast mechanism. This has
    many consequences.
  </p>
  <p>
    One consequence is that we survived and evolved when many other species have
    not. Another is that we have rich ways of interacting with the world.
    Another is that our heart, mind and emotions are in a continual state of
    flux. Even when things are going well there are always adjustments going on.
    It is hard to find a resting place from the continual bombardment of
    information and our own reaction to it.
  </p>
  <p>
    While there is no way to press pause on this, our nervous systems are
    amazingly responsive and adaptable. Counselling will help you find ways of
    working with your natural mechanisms of regulation, rather than against
    them.
  </p>
  <p>The world looks totally different to each one of us.</p>
  <p>Self care</p>
  <p>
    Modern life is a step away from the evolutionary context we evolved for.
    There is a mismatch between the way our nervous systems regulate our our
    current context. So we need to make a conscious effort to look after
    ourselves: it's not going to happen by itself. The choices we make about how
    to spend our time, what we look at, what we fill our heads with, have
    consequences for our health and happiness.
  </p><p>
    We are making these choices all the time. Counselling will help you find the
    choices that lead to health and happiness for yourself and others.
  </p>
  <p>Healing</p>
  <p>
    Injury is a fact of life. Our evolution has gifted us the most amazing array
    of healing mechanisms. Healing can be instantaneous or it can take a very
    long time. Healing itself can be painful. While mechanisms of healing have
    been instinctively known for milennia, modern research is bring this
    knowledge into the realm of language. We can name, describe and understand
    these mechanisms in ways we couldn't before. We can talk about them and
    teach them but every person has a different experience of these things.
    Counselling will guide your exploration of the way these mechanisms show up
    in your own body, heart and mind.
  </p>
  <p>Thriving</p>
  <p>Thriving message</p>
  <p>How counselling can help you thrive.</p>
  <p>FAQ</p>
  <p>How to chose a counsellor?</p>
  <p>How many sessions?</p>
  <p>What is counselling good for?</p>
  <p>
    Counselling is good when you are trying to make changes, or figure something
    out, and you find yourself going over the same ground again and again. In
    spite of your efforts, the same thing is happening, over and over. The
    counsellor does not know the 'answers'. Rather the counsellor will help you
    find new perspectives and guide you as you discover your own way forward.
    Counselling is a process: a joint exploration by you and the counsellor.
  </p>
</BaseLayout>
