---
const pageTitle = "Nigel White Counselling";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<div class="container">
  <BaseLayout>
    <h1>{pageTitle}</h1>
    <h2>My awesome blog subtitle</h2>
  </BaseLayout>
</div>
