---
const pageTitle = "Nigel White Counselling";
import BaseLayout from "../layouts/BaseLayout.astro";
import CustomButton from "../components/CustomButton.astro";
---

<div class="container">
  <BaseLayout>
    <h1>{pageTitle}</h1>
    <CustomButton />
  </BaseLayout>
</div>
