---
import HomeLayout from "../layouts/HomeLayout.astro";
import Card from "../components/Card.astro";
import Card2 from "../components/Card2.astro";
import Card3 from "../components/Card3.astro";
const pageTitle = "Home";
---

<HomeLayout class="homepage">
  <section class="articles">
    <Card2
      cardTitle="Counselling"
      cardText="Talk it out"
      experience="10 years experience"
      cardUrl="counselling"
    />
    <Card2
      cardTitle="Supervision"
      cardText="Talk it out"
      experience="5 years experience"
      cardUrl="supervision"
    />
  </section>

  <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
  </p>

  <section class="articles">
    <Card
      cardTitle="Experience"
      cardText="Talk it out"
      cardImage="https://picsum.photos/id/1005/800/450"
      cardImagealt=""
      buttonText="about Counselling"
      cardUrl="counselling"
    />
    <Card
      cardTitle="Training"
      cardText="Clinical and straight"
      cardImage="https://picsum.photos/id/103/800/450"
      cardImagealt=""
      buttonText="about Supervision"
      cardUrl="supervision"
    />
  </section>

  <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
  </p>

  <section class="articles">
    <Card3 />
    <Card3 />
  </section>

  <style>
    .articles {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--color2);
      padding: 3rem 0;
    }

    @media screen and (min-width: 915px) {
      .articles {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  </style>
</HomeLayout>
