---
import HomeLayout from "../layouts/HomeLayout.astro";
import Card from "../components/Card.astro";
const pageTitle = "Home";
---

<HomeLayout class="homepage">
  <section class="articles">
    <Card
      cardTitle="Counselling"
      cardText="Talk it out"
      cardImage="https://picsum.photos/id/1005/800/450"
      cardImagealt=""
      buttonText="about Counselling"
      buttonUrl="counselling"
    />
    <Card
      cardTitle="Supervision"
      cardText="Clinical and straight"
      cardImage="https://picsum.photos/id/103/800/450"
      cardImagealt=""
      buttonText="about Supervision"
      buttonUrl="supervision"
    />
  </section>

  <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
  </p>
</HomeLayout>

<style>
  .articles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 915px) {
    .articles {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
</style>
