---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card2 from "../components/Card2.astro";
const pageTitle = "Home";
---

<BaseLayout>
  <h1>{pageTitle}</h1>
  <div class="card-row">
    <Card2
      cardTitle="Counselling"
      cardText="Talk it out"
      cardImage="https://picsum.photos/id/1005/800/450"
      alt=""
    />
    <Card2
      cardTitle="Supervision"
      cardText="Clinical and straight"
      cardImage="https://picsum.photos/id/103/800/450"
    />
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
  </p>
</BaseLayout>

<style>
  .card-row {
    display: flex;
    max-width: 60ch;
    margin: 0 auto;
  }
</style>
