---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Topics";
const allPosts = await Astro.glob("../pages/topics/*.mdx");
---

<BaseLayout>
  <h2>{pageTitle}</h2>
  <p>
    Background on various topics, with an emphasis is on things you can try
    yourself.
  </p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
