---
const { cardTitle, cardText, cardImage } = Astro.props;
---

<div class="card">
  <h2>{cardTitle}</h2>
  <img class="card-image" src={cardImage} alt="" />
  <p>{cardText}</p>
</div>

<style>
  .card {
    width: 300px;
    border: 1px black solid;
  }

  .card-image {
    width: 300px;
  }
</style>
