---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import TitleBanner from "../components/TitleBanner.astro";
---

<header>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>
