<div class="hero">
  <h1>Nigel White Counselling</h1>
</div>

<style>
  .hero {
    border: 1px black solid;
  }
  h1 {
    text-align: center;
  }

  /* @media screen and (max-width: 636px) {
    .hero {
      display: none;
    }
  } */
</style>
