<p class="hero-mini">Nigel White Counselling</p>

<style>
  .hero-mini {
    font-family: var(--font-title);
    color: var(--color-title);
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 636px) {
    .hero-mini {
      display: none;
    }
  }
</style>
