<div class="nav-links">
  <a href="/">Home</a>
  <a href="/counselling">Counselling</a>
  <a href="/supervision">Supervision</a>
  <a href="/topics">Topics</a>
  <a href="/contact">Contact</a>
</div>

<style>
  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin-bottom: 1rem;
  }

  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .nav-links a:hover,
  .nav-links a:focus {
    background-color: #ff9776;
    border-radius: 30px;
  }

  .expanded {
    display: unset;
  }

  @media screen and (min-width: 636px) {
    .nav-links {
      display: flex;
      justify-content: center;
      position: static;
      width: auto;
      background: none;
    }

    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }
  }
</style>
