<a class="title-banner" href="/">Nigel White Counselling</a>

<style>
  .title-banner {
    text-decoration: none;
    font-family: var(--font-title);
    color: var(--color-title);
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 636px) {
    .title-banner {
      justify-content: center;
    }
  }
</style>
