<a class="title-banner title-banner-large" href="/">Nigel White Counselling</a>

<style>
  .title-banner {
    text-decoration: none;
    font-family: var(--font-title);
    color: var(--color-title);
  }

  .title-banner-large {
    font-size: 3rem;
  }

  .title-banner-small {
    font-size: 1rem;
  }
</style>
