<a class="title-banner title-banner-large" href="/">Nigel White Counselling</a>

<style>
  .title-banner {
    text-decoration: none;
  }

  .title-banner-large {
    font-size: 2rem;
  }

  .title-banner-small {
    font-size: 1rem;
  }
</style>
