<div class="top-banner">
  <a class="title-top-banner" href="/">Nigel White Counselling</a>
</div>

<style>
  .top-banner {
    margin-top: 0.8em;
  }

  .title-top-banner {
    text-decoration: none;
    font-family: var(--font-title);
    color: var(--color-title);
    display: flex;
    justify-content: flex-start;
  }

  @media screen and (min-width: 636px) {
    .title-top-banner {
      justify-content: center;
    }
  }

  @media screen and (max-width: 636px) {
    .top-banner {
      display: block;
    }
  }
</style>

<!-- https://medium.com/@jamiecarter7/how-to-use-if-and-else-if-statements-in-astro-components-98826dd17861 -->
