---
import "../styles/global.css";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito"
    />

    <title>Astro</title>
  </head>
  <body>
    <Header />
    <slot />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>

<style></style>
