---
import BaseLayout from "./BaseLayout.astro";
import Hero from "../components/Hero.astro";
import TitleBanner from "../components/TitleBanner.astro";
---

<TitleBanner />
<BaseLayout>
  <div class="homepage">
    <Hero />
    <slot />
  </div>
</BaseLayout>

<style></style>
