---
import BaseLayout from "./BaseLayout.astro";
import Hero from "../components/Hero.astro";
---

<Hero />
<BaseLayout>
  <div class="homepage">
    <slot />
  </div>
</BaseLayout>

<style>
  body {
    max-width: 110ch;
  }
  .homepage {
    background-color: green;
  }
</style>
