---
import BaseLayout from "./BaseLayout.astro";
import Hero from "../components/Hero.astro";
import TitleBanner from "../components/TitleBanner.astro";
---

<TitleBanner />
<BaseLayout>
  <Hero class="hero-section" />
  <div class="homepage">
    <slot />
  </div>
</BaseLayout>

<style>
  body {
    max-width: 110ch;
  }

  .hero-section {
    display: none;
  }

  @media screen and (min-width: 636px) {
    .title-banner {
      display: none;
    }
  }
</style>
