---
import BaseLayout from "./BaseLayout.astro";
import TitleBanner from "../components/TitleBanner.astro";
---

<TitleBanner />
<BaseLayout />
<div class="pages">
  <slot />
</div>

<style>
  .pages {
    background-color: pink;
  }
</style>
