---
import BaseLayout from "./BaseLayout.astro";
import TitleBanner from "../components/TitleBanner.astro";
import HeroMini from "../components/HeroMini.astro";
const { pageTitle } = Astro.props;
---

<TitleBanner />
<BaseLayout>
  <div class="pages">
    <HeroMini />
    <h1>{pageTitle}</h1>
    <slot />
  </div>
</BaseLayout>

<style>
  body {
    max-width: 110ch;
  }
  .pages {
    background-color: pink;
  }
</style>
