---
import BaseLayout from "./BaseLayout.astro";
import TitleBanner from "../components/TitleBanner.astro";
---

<TitleBanner />
<BaseLayout>
  <div class="pages">
    <slot />
  </div>
</BaseLayout>

<style>
  body {
    max-width: 110ch;
  }
  .pages {
    background-color: pink;
  }
</style>
